<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clients" href="/tabs/clients">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items" href="/tabs/items">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
